@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro';
    background-color : aliceblue;
    background-image:url(boyd-logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

header {
    padding:5px;
    background-color: rgba(	173,216,230,0.4);
}

nav{
    align-self: center;
    padding:15px;
    background-color: rgba(	127, 255, 212,0.4);
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 10px 15px;
}

nav ul li a {
    text-decoration: none;
}
nav ul li:hover{
    background-color:rgba(173,216,230,0.8);
}

main {
    padding: 15px;
}

h1 {
    font-size: 45px;
    text-align: center;
    padding: 15px;
    font-family: 'Noto Sans JP';
}

h2 {
    font-size: 35px;
    padding: 10px;
    font-family: 'Noto Sans JP';
}

h3 {
    font-size: 25px;
    padding: 10px;
    font-family: 'Noto Sans JP';
}

p {
    padding: 10px;
    justify-content: space-around;
}

img {
    max-width:50%;
    height: auto;
    : center;
}

ul {
    list-style-type: square;
    margin-left: 35px;
}

footer {
    padding:15px;
    background-color: rgba(	173,216,230,0.4);
}